/* Reset */
* {
  margin:4px;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Background */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #f6d365, #fda085);
}

/* Grid container */
.parent {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  gap: 20px;
  
}

/* Card */
.card {
  background: #fff;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 280px;

  transition: 0.3s ease;
}

/* Hover */
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Top */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.save {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  cursor: pointer;
}

/* Center */
.center {
  margin-top: 10px;
}

.center h3 {
  font-size: 14px;
  font-weight: 500;
}

.center h3 span {
  font-size: 11px;
  color: gray;
  margin-left: 6px;
}

.center h2 {
  font-size: 18px;
  margin: 8px 0;
}

/* Tags */
.tag {
  display: flex;
  gap: 8px;
}

.tag h4 {
  font-size: 11px;
  background: #eee;
  padding: 4px 8px;
  border-radius: 6px;
}

/* Bottom */
.bottom {
  margin-top: auto;
  padding-top: 10px;
  border-top: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom h3 {
  font-size: 14px;
}

.bottom p {
  font-size: 11px;
  color: gray;
}

/* Button */
.button {
  background: black;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size:12px;
  cursor:pointer;
}